GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=your_groq_model_here
BACKEND_PORT=your_backend_port
FRONTEND_URL=your_frontend_url
SERPER_API_KEY=your_serper_api_key_here
CHROMA_API_KEY=your_chromadb_api_key_here
CHROMA_TENANT=your_chromadb_tenant_here
CHROMA_DATABASE=your_chromadb_database_here
CHROMA_COLLECTION=your_chromadb_collection_here
CHROMA_HOST=your_chromadb_host_here